<%- include('../partials/header') %>
  
  <% playlists.forEach(function(p) { %>
    <h2><%= p.user.name %>'s playlist: <%= p.title %></h2>
    <table>
      <thead>
        <tr>
          <th>Track</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < 5; i++) { %>
          <% if (!p.songs[i]) break; %>
          <tr>
            <td><%= p.songs[i].title %> </td>
            <td><%= p.songs[i].artist %> </td>
            <td><%= p.songs[i].album %> </td>
            <td><%= p.songs[i].time %> </td>
          </tr>
          <% }; %>
          <% if (p.songs.length === 1) { %>  
            <tr>
              <td><%= p.songs.length %> song total</td>
            </tr>
          <% } else { %>
          <tr>
            <td><%= p.songs.length %> songs total</td>
          </tr>
          <% } %> 
      </tbody>
    </table>
    <a href="playlists/<%= p._id %>">Details</a>
    <a href="/users/<%= p.user._id %>">Go to <%= p.user.name %>'s page </a>
  <% }); %>

<%- include('../partials/footer') %>