<%- include('../partials/header') %>
  
  <% playlists.forEach(function(p) { %>
    <h2><%= p.title %> by <%= p.user.name %></h2>
    <% if (p.songs.length === 1) { %>
        <p><%= p.songs.length %> song, <%= playLength %></p>
    <% } else { %>
      <p><%= p.songs.length %> songs, <%= playLength %></p>
    <% } %> 
    <div>
      <table>
        <div style="text-align: end; width: 100%;">
        </div>
        <thead>
          <tr>
            <th>Track</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < 5; i++) { %>
            <% if (!p.songs[i]) break; %>
            <tr>
              <td><%= p.songs[i].title %> </td>
              <td><%= p.songs[i].artist %> </td>
              <td><%= p.songs[i].album %> </td>
              <td><%= p.songs[i].time %> </td>
            </tr>
            <% }; %>
        </tbody>
      </table>
    </div>
    <a href="playlists/<%= p._id %>">Details</a>
    <a href="/users/<%= p.user._id %>">Go to <%= p.user.name %>'s page </a>
  <% }); %>

<%- include('../partials/footer') %>