<%- include('../partials/header') %>
<br>
<a href="/playlists/<%= playlist._id %>/search">Change your search</a>
<h3 id="search-q">You searched for: <%= q %></h3>
<div id="table-div">
<table>
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Duration</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% tracks.forEach(function(t) { %>
      <tr>
        <td><div class="table-line"></div></td>
        <td><div class="table-line"></div></td>
        <td><div class="table-line"></div></td>
        <td><div id="last-line" class="table-line"></div></td>
      </tr>
      <tr>
        <td><%= t.title_short %></td>
        <td><%= t.artist.name %></td>
        <td><%= t.album.title %></td>
        <td><%= t.time %></td>
        <form action="/playlists/<%= playlist._id %>/songs" method="POST">
          <td><button id="add-button" type="submit">Add</button></td>
          <input style="display: none" type="text" name="apiSongId" value="<%= t.id %>">
          <input style="display: none" type="text" name="title" value="<%= t.title_short %>">
          <input style="display: none;" type="text" name="artist" value="<%= t.artist.name %>">
          <input style="display: none;" type="text" name="album" value="<%= t.album.title %>">
          <input style="display: none;" type="text" name="time" value="<%= t.time %>">
          <input style="display: none;" type="text" name="duration" value="<%= t.duration %>">
          <input style="display: none;" type="text" name="artistAvatar" value="<%= t.artist.picture_big %>">
        </form>
      </tr>
    <% }) %>
  </tbody>
</table>
</div>

<%- include('../partials/footer') %>

