<%- include('../partials/header') %>

<h3>You searched for: <%= q %></h3>

<table>
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th></th>
    </tr>
  </thead>
  <% tracks.forEach(function(t) { %>
    <tbody>
      <tr>
        <td><%= t.result.title %></td>
        <td><%= t.result.primary_artist.name %></td>
        <form action="/playlists/<%= playlist._id %>/songs" method="POST">
          <td><button type="submit">Add</button></td>
          <input style="display: none" type="text" name="title" value="<%= t.result.title %>">
          <input style="display: none;" type="text" name="artist" value="<%= t.result.primary_artist.name %>">
        </form>
      </tr>
    </tbody>
  <% }) %>
</table>

<%- include('../partials/footer') %>

