<%- include('../partials/header') %>

  <% if (!playlist.image) { %>
    <img style="width: 100px;" src="/images/project-playlist.svg">
  <% } else { %>
  <img style="width: 200px;" src="<%= playlist.img %>">
  <% } %> 
  <% if (!user || !playlist.user._id.equals(user._id)) { %>
    <a href="/users/<%= playlist.user._id %>">Go to <%= playlist.user.name %>'s page </a>
  <% } %>
  <h1><%= playlist.title %> </h1>
  <% if (playlist.songs.length === 1) { %>
    <p><%= playlist.songs.length %> song, <%= playlist.duration %></p>
  <% } else { %>
    <p><%= playlist.songs.length %> songs, <%= playlist.duration %></p>
  <% } %> 
  <table>
    <thead>
      <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <% playlist.songs.forEach(function(s) { %>
      <tr>
        <td><%= s.title %></td>
        <td><%= s.artist %></td>
        <td><%= s.album %></td>
        <td><%= s.time %></td>
        <% if (user && playlist.user._id.equals(user._id)) { %>
          <td>
            <form action="/songs/<%= s._id %>?_method=DELETE" method="POST">
              <button type="submit">X</button>
            </form>
          </td>
        <% } %>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (user && playlist.user._id.equals(user._id)) { %>
    <form action="/playlists/<%= playlist._id %>?_method=DELETE" method="POST">
      <button type="submit">X</button>
    </form>
    <a href="/playlists/<%= playlist._id %>/search"><button>Forget Something?</button></a>
    <% } %>
    <h2>Description:</h2>
    <p> <%= playlist.about %> </p>
    <% if (user && playlist.user._id.equals(user._id)) { %>
      <form action="/playlists/<%= playlist._id %>/description?_method=PUT" method="POST">
        <input name="about">
        <button type="submit">EDIT</button>
      </form>
    <% } %>
  <br><br>
  <% if (user) { %>
    <h2>Add a comment...</h2>
    <form action="/playlists/<%= playlist._id %>/comments" method="POST">
      <input name="content">
      <button type="submit">ADD COMMENT</button>
    </form>
    <% } %>
  <% if (playlist.comments.length) { %>
    <% playlist.comments.forEach(c => { %>
      <h2><%= c.userName %> </h2>
      <img src="<%= c.userAvatar %>">
      <p><%= c.content %></p>
      <% if (user && c.userId.equals(user._id)) { %>
        <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
          <input name="content" placeholder="<%= c.content %>">
          <button type="submit">UPDATE COMMENT</button>
        </form>
        <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
      <% } %>
    <% }); %> 
  <% } else { %>
    <p>There are no comments yet!</p>
  <% } %> 
<%- include('../partials/footer') %>