<%- include('../partials/header') %>

  <table>
    <thead>
      <tr>
        <th>Song</th>
        <th>Artist</th>
      </tr>
    </thead>
    <tbody>
      <% playlist.songs.forEach(function(s) { %>
      <tr>
        <td><%= s.title %></td>
        <td><%= s.artist %></td>
        <% if (user && playlist.user._id.equals(user._id)) { %>
          <td>
            <form action="/songs/<%= s._id %>?_method=DELETE" method="POST">
              <button type="submit">X</button>
            </form>
          </td>
        <% } %>
      </tr>
      <% }) %>
      <tr>
        <td><%= playlist.songs.length %> songs total</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br><br>
  <h2>Add a comment...</h2>
  <form action="/playlists/<%= playlist._id %>/comments" method="POST">
    <input name="content">
    <button type="submit">ADD COMMENT</button>
  </form>

  <% if (playlist.comments.length) { %>
    <% playlist.comments.forEach(c => { %>
      <h2><%= c.userName %> </h2>
      <img src="<%= c.userAvatar %>">
      <p><%= c.content %></p>
      <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
        <button type="submit">X</button>
      </form>
    <% }); %> 
  <% } %>

<%- include('../partials/footer') %>