<%- include('../partials/header') %>

<div class="user-div">
  <a href="/users/<%= playlist.user._id %> "><img class="user-avatar" src="<%= playlist.user.avatar %>"></a>
</div>
  <br><br>
<div class="playlist-div content-wrapper">
  <div class="playlist-header-div">
    <% if (!!playlist.img) { %>
      <img style="width: 200px;" src="<%= playlist.img %>">
      <% } else { %>
      <% if (playlist.songs.length) { %>
        <div class="artwork-div">
          <% for (let i = 0; i < 4; i++) { %>
            <% if (!playlist.songs[i]) break; %>
            <% if (playlist.songs.length < 4) { %>
              <img style="width: 200px;" src="<%= playlist.songs[i].artistAvatar %> ">
            <% break; %> 
            <% } %>
            <img style="width: 100px;" src="<%= playlist.songs[i].artistAvatar %> ">
            <% if (i === 1) { %>
              <br>
            <% } %>
          <% } %>
        </div>
      <% } else { %>
        <img style="width: 200px;" src="/images/white-double-quaver.png">
      <% } %> 
    <% } %> 
    <h1 class="playlist-title"><%= playlist.title %></h1>
  </div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Track</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><div class="table-line"></div></td>
          <td><div class="table-line"></div></td>
          <td><div class="table-line"></div></td>
          <td><div class="table-line"></div></td>
          <td><div id="last-line" class="table-line"></div></td>
        </tr>
        <% playlist.songs.forEach((s, idx) => { %>
          <form action="/songs/<%= s._id %>?_method=DELETE" method="POST">
            <tr>
              <td><%= idx + 1 %> </td>
              <td><%= s.title %> </td>
              <td><%= s.artist %> </td>
              <td><%= s.album %> </td>
              <td>
                <div id="delete-song-div">
                  <%= s.time %>
                  <% if (user && playlist.user._id.equals(user._id)) { %>
                    <button class="edit-button" id="delete-song-button" type="submit">X</button>
                  <% } %>
                </div>
              </td>
            </tr>
          </form>
        <% }); %>
        <tr>
          <td><div class="table-line"></div></td>
          <td><div class="table-line"></div></td>
          <td><div class="table-line"></div></td>
          <td><div class="table-line"></div></td>
          <td><div id="last-line" class="table-line"></div></td>
        </tr>
        <tr>
            <td>
              <span class="time-span">
                <%= playlist.songs.length %>
                <%= playlist.songs.length === 1 ? ' song, ' : ' songs, ' %>
                <%= playlist.duration %>
              </span>
            </td>
        </tr>
        <tr>
          <td><a class="time-span" href="/users/<%= playlist.user._id %>">More From User</a></td>
        </tr>
      </tbody>
    </table>
    <% if (user && playlist.user._id.equals(user._id)) { %>
      <div>
        <button id="edit-playlist">EDIT</button>
        <a class="edit-button" id="add-songs" href="/playlists/<%= playlist._id %>/search">ADD SONGS</a>
        <form action="/playlists/<%= playlist._id %>?_method=DELETE" method="POST">
          <button class="edit-button" id="delete-playlist" type="submit">DELETE</button>
        </form>
      </div>
    <% } %>
  </div>
  <div id="info-div">
    <h2>About:</h2>
    <p> <%= playlist.about %> </p>
    <% if (user && playlist.user._id.equals(user._id)) { %>
      <form action=""></form>
      <form action="/playlists/<%= playlist._id %>/description?_method=PUT" method="POST">
        <input name="about">
        <button type="submit">EDIT</button>
      </form>
    <% } %>
    <br><br>
    <% if (user) { %>
      <h2>Add a comment...</h2>
      <form action="/playlists/<%= playlist._id %>/comments" method="POST">
        <input name="content">
        <button type="submit">ADD COMMENT</button>
      </form>
    <% } %>
    <div id="comment-section">
      <% if (playlist.comments.length) { %>
        <% playlist.comments.forEach(c => { %>
          <h2><%= c.userName %> </h2>
          <div id="comment-div">
            <img class="user-avatar" src="<%= c.userAvatar %>">
            <p><%= c.content %></p>
          </div>
          <% if (user && c.userId.equals(user._id)) { %>
            <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
              <input name="content" placeholder="<%= c.content %>">
              <button id="update-comment" type="submit">UPDATE COMMENT</button>
            </form>
            <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
              <button id="delete-comment" type="submit">DELETE</button>
            </form>
          <% } %>
        <% }); %> 
      <% } else { %>
        <p>There are no comments yet!</p>
      <% } %>
    </div>
  </div>

  <script>
    const extraTdEl = document.getElementById('extra');
    const editEl = document.getElementById('edit-playlist');
    const hiddenEls = document.getElementsByClassName('edit-button');
    let edit = true;
    editEl.addEventListener('click', function(evt) {
      for (let i = 0; i < hiddenEls.length; i++) {
        hiddenEls[i].style.display = edit ? "inherit" : "none";
      }
      editEl.innerHTML = edit ? "DONE" : "EDIT";
      edit = !edit;
    });
  </script>

<%- include('../partials/footer') %>