<%- include('../partials/header') %>

  <table>
    <thead>
      <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <% playlist.songs.forEach(function(s) { %>
      <tr>
        <td><%= s.title %></td>
        <td><%= s.artist %></td>
        <td><%= s.album %></td>
        <td><%= s.time %></td>
        <% if (user && playlist.user._id.equals(user._id)) { %>
          <td>
            <form action="/songs/<%= s._id %>?_method=DELETE" method="POST">
              <button type="submit">X</button>
            </form>
          </td>
        <% } %>
      </tr>
      <% }) %>
      <tr>
        <td><%= playlist.songs.length %> songs total</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <% if (user && playlist.user._id.equals(user._id)) { %>
    <form action="/playlists/<%= playlist._id %>?_method=DELETE" method="POST">
      <button type="submit">X</button>
    </form>
    <a href="/playlists/<%= playlist._id %>/search"><button>Add songs</button></a>
  <% } %>
  <br><br>
  <% if (user) { %>
    <h2>Add a comment...</h2>
    <form action="/playlists/<%= playlist._id %>/comments" method="POST">
      <input name="content">
      <button type="submit">ADD COMMENT</button>
    </form>
  <% } %>
  <% if (playlist.comments.length) { %>
    <% playlist.comments.forEach(c => { %>
      <h2><%= c.userName %> </h2>
      <img src="<%= c.userAvatar %>">
      <p><%= c.content %></p>
      <% if (user && c.userId.equals(user._id)) { %>
        <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
          <!-- Value attribute is being set to the comment's current text -->
          <input name="content" placeholder="<%= c.content %>">
          <button type="submit">UPDATE COMMENT</button>
        </form>
        <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
      <% } %>
    <% }); %> 
  <% } %>

<%- include('../partials/footer') %>