<%- include('../partials/header') %>
  <h1><%= user.name %></h1>
  <img src="<%= user.avatar %>" alt="">
  <br><br>
  <% if (playlists.length) { %>
    <% playlists.forEach(function(p) { %>
      <%= p.title %>
      <table>
        <thead>
          <tr>
            <th>Track</th>
            <th>Artist</th>
          </tr>
        </thead>
        <tbody>
          <% p.songs.forEach(function(s) { %>
            <tr>
              <td>s.title</td>
              <td>s.artist</td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <a href="/playlists/<%= p._id %>/search"><button>Add songs</button></a>
      <a href="/playlists/<%= p._id %>">Details</a>
      <br><br>
    <% }); %>
  <% } else { %>
    <p>You have no playlists in this moments</p>
  <% } %>
  <a href="/playlists/new">Make a new Playlist</a>

<%- include('../partials/footer') %>