<%- include('../partials/header') %>
  <% if (playlists.length) { %>
    <h1><%= playlists[0].user.name %>'s Playlists</h1>
    <img src="<%= playlists[0].user.avatar %>">
    <br><br>
  <% } else { %>
    <h1><%= user.name %>'s Playlists</h1>
    <img src="<%= user.avatar %>">
    <br><br>
  <% } %> 
  <% if (playlists.length) { %>
    <% playlists.forEach(function(p) { %>
      <%= p.title %>
      <table>
        <thead>
          <tr>
            <th>Track</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < 5; i++) { %>
            <% if (!p.songs[i]) break; %>
            <tr>
              <td><%= p.songs[i].title %> </td>
              <td><%= p.songs[i].artist %> </td>
              <td><%= p.songs[i].album %> </td>
              <td><%= p.songs[i].time %> </td>
            </tr>
            <% }; %>
            <% if (p.songs.length === 1) { %>  
              <tr>
                <td><%= p.songs.length %> song</td>
              </tr>
            <% } else { %>
            <tr>
              <td><%= p.songs.length %> songs</td>
            </tr>
            <% } %> 
          </tbody>
        </table>
        <a href="/playlists/<%= p._id %>">Details</a>
        <br><br>
    <% }); %>
  <% } else { %>
    <p>You have no playlists in this moments</p>
  <% } %>
  <% if (!user) { %>
  <% } else if (playlists.length < 1) { %>
    <a href="/playlists/new">Make a new Playlist</a>
  <% } else if(playlists[0].user._id.equals(user._id)) { %>
    <a href="/playlists/new">Make a new Playlist</a>
  <% } %> 

<%- include('../partials/footer') %>