<%- include('../partials/header') %>
  <h1><%= user.name %></h1>
  <img src="<%= user.avatar %>" alt="">
  <br><br>
  <% if (playlists.length) { %>
    <% playlists.forEach(function(p) { %>
      <%= p.title %>
      <table>
        <thead>
          <tr>
            <th>Track</th>
            <th>Artist</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < 5; i++) { %>
            <% if (!p.songs[i]) break; %>
            <tr>
              <td><%= p.songs[i].title %> </td>
              <td><%= p.songs[i].artist %> </td>
              <td>
                <form action="/songs/<%= p.songs[i]._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
              </td>
            </tr>
            <% }; %>
          </tbody>
        </table>
        <a href="/playlists/<%= p._id %>/search"><button>Add songs</button></a>
        <a href="/playlists/<%= p._id %>">Details</a>
          <form action="/playlists/<%= p._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
        <br><br>
    <% }); %>
  <% } else { %>
    <p>You have no playlists in this moments</p>
  <% } %>
  <a href="/playlists/new">Make a new Playlist</a>

<%- include('../partials/footer') %>